{% extends 'base.html' %}

{% block content %}
  <main class="flex-grow-1">
    <div class="container-lg mt-3">
      <h1>Сайты</h1>
<div class="table-responsive">
  <table class="table table-bordered table-hover text-nowrap" data-test="urls">
    <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Последняя проверка</th>
      <th>Код ответа</th>
    </tr>
    </thead>
    <tbody>
    {% if urls and check_data %}
        {% for url in urls %}
          <tr>
            <td>{{ url['id'] }}</td>
            <td>
              <a href="{{url_for('show_url', id=url['id'])}}">{{ url['name'] }}</a>
            </td>
            <td>
              {% set check_dates = [] %}
              {% for check in check_data %}
                {% if check['url_id'] == url['id'] %}
                  {% set _ = check_dates.append(check['date'].strftime('%Y-%m-%d')) %}
                {% endif %}
              {% endfor %}
              {% set sorted_check_dates = check_dates | sort %}
              {{ sorted_check_dates[-1]}}
            </td>
            <td>
              {% set status_codes = [] %}
              {% for check in check_data %}
                {% if check['url_id'] == url['id'] %}
                  {% set _ = status_codes.append(check['status_code']) %}
                {% endif %}
              {% endfor %}
              {% set sorted_status_codes = status_codes | sort(attribute='date', reverse=true) %}
              {{ sorted_status_codes[0] if sorted_status_codes|length > 0 else '' }}
            </td>
          </tr>
        {% endfor %}
    {% elif urls and not check_data %}
      <tr>
        <td>{{ url['id'] }}</td>
        <td>
          <a href="{{url_for('show_url', id=url['id'])}}">{{ url['name'] }}</a>
        </td>
        <td></td>
        <td></td>
      </tr>
    {% else %}
      <tr>
        <td></td>
        <td>
          <a href=f"/urls/"></a>
        </td>
        <td></td>
        <td></td>
      </tr>
    {% endif %}
      </tbody>
  </table>
 </div>
</div>
</main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
{% endblock %}
